<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>Granulator</string>
			<key>factoryFunction</key>
			<string>GranulatorAUFactory</string>
			<key>manufacturer</key>
			<string>Manu</string>
			<key>name</key>
			<string>nonlocality effects: Granulator</string>
			<key>resourceUsage</key>
			<dict>
				<key>network.client</key>
				<true/>
				<key>temporary-exception.files.all.read-write</key>
				<true/>
			</dict>
			<key>subtype</key>
			<string>Qzbw</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>2048</integer>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>16G2136</string>
	<key>CFBundleDisplayName</key>
	<string>Granulator</string>
	<key>CFBundleExecutable</key>
	<string>Granulator</string>
	<key>CFBundleIdentifier</key>
	<string>com.nonlocalityeffects.Granulator</string>
	<key>CFBundleName</key>
	<string>Granulator</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9C40b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17C76</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string></string>
</dict>
</plist>
